<div class="login-container">
    <div id="login-form">
        <form class="form">
                <input type="email" name="email" placeholder="Email" class="email" required>
                <input type="password" name="password" placeholder="Password" class="password" required>
                <input type="submit" name="login-btn" value="Log in" class="submit-btn">
                <!--<div class="social-login">-->
                    <!--<button class="loginBtn loginBtn&#45;&#45;google">Login with Google</button>-->
                <!--</div>-->
        </form>
        <div class="other-option">
            <h3>Don't have an account?</h3>
            <a href="signup.html">
                <div  id="signup-btn">Sign up</div>
            </a>
        </div>
    </div>
</div>