<div class="profile-container" >
    <div id="profile-container">
        <div class="row profile-row">
            <div class="col-md-4 left-column">
                <img class="profile-picture" src="<%=author.photoUrl%>">
                <div class="profile-text-box">
                    <h3 id="profile-name"><%=author.name%></h3>
                    <br>
                    <h3 id="profile-email"><%=author.email%></h3>
                </div>
            </div>
            <div class="col-md-8 right-column">
                <div id="profile-comment-list">

                </div>
            </div>
        </div>
    </div>
</div>