<button class="pic">
        <div class="slider-city-name text-center"><%=slider.name%></div>
        <div class="hover">
            <div class="hover-city-name"><%=slider.name%></div>
            <div class="hover-city-info"><%=slider.shortOverview%></div>
            <div class="hover-star">
                <i class="fa fa-star" aria-hidden="true"></i> Good
            </div>
        </div>
 </button>